
@{
    ViewBag.Title = "Humane正式發表全球首款個人AI裝置Ai Pin，會是下一代智慧手機？";
}
<main>
    <!--title-->
    <div class="text-xxl-center py-lg-5 tt text-bg-dark">Humane正式發表全球首款個人AI裝置Ai Pin，會是下一代智慧手機？</div>
    <!--article-->
    <div class="pp">
        Humane 是一家由前蘋果介面設計師Imran Chaudhri，與同樣曾在蘋果任職負責軟體工程設計的妻子Bethany Bongiorno，於2018年創立新創公司，近期推出了一款名為 AI Pin 的新型穿戴裝置。這款小巧輕巧的小工具可以安全地附著在衣服上，使用感測器、投影機和人工智慧技術來提供一系列功能。
    </div>

    <img src="~/Images/S08/3C_1/p01.jpg" class="ii"><br />

    <div class="bb text-xxl-center">特點及操作</div>

    <div class="pp">
        AI Pin 被設計為無螢幕穿戴設備，它由高通 Snapdragon 處理器提供支援，包括相機、麥克風和加速計等基本感測器。此外，該設備還包括一個內建投影儀，用於在表面上顯示資訊。
    </div>

    <img src="~/Images/S08/3C_1/p02.jpg" class="ii"><br />

    <div class="bb text-xxl-center">定價和供貨情況</div>

    <div class="pp">
        Humane AI Pin 的預訂價格為 699 美元，預計於 2024 年初發貨，讓消費者能夠一睹可穿戴技術的未來。
    </div>

    <img src="~/Images/S08/3C_1/p03.png" class="ii"><br />

    <div class="bb text-xxl-center">AI Pin 的工作原理</div>

    <div class="pp">
        AI Pin 透過結合感測器和由廣泛的語言模型驅動的人工智慧技術來運作。例如，在悠閒散步時，它的攝影機會識別周圍的物體和地標，從而提供有用的詳細信息，例如餐廳名稱或公車站距離。承諾 2024 年的更新將引入先進的導航功能。
    </div>

    <img src="~/Images/S08/3C_1/p04.png" class="ii"><br />

    <div class="pp">
        除了資訊之外，AI Pin 還可以充當各種設備的控制器。用戶可以在智慧型手機上撥打電話、發送簡訊、管理智慧家庭設備或播放音樂。此外，AI Pin 還提供對翻譯服務、虛擬助理和私人教練等人工智慧驅動的應用程式的存取。
    </div>

    <div class="bb text-xxl-center">注重隱私的設計</div>

    <div class="pp">
        隱私是 AI Pin 設計的重點。當攝影機、麥克風或輸入感應器處於活動狀態時，內建隱私指示燈可有效進行通訊。使用者保留完全控制權，可以根據自己的喜好靈活地停用 AI Pin 的感測器。
    </div>

    <img src="~/Images/S08/3C_1/p05.png" class="ii"><br />

</main>


                                       
<style>
    /*title*/
    .tt {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 50px;
    }
    /*small-title*/
    .bb {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 40px;
        background-color: #bbbbbb
    }
    /*article*/
    .pp {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin:auto;
        font-size: 30px;
        width: 90%;
    }
    /*picture*/
    .ii {
        width: 75%;
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
</style>