
@{
    ViewBag.Title = "iPhone 15 充電慢？如何使用 USB-C 為 iPhone 快速充電";
}

<main>
    <!--title-->
    <div class="text-xxl-center py-lg-5 tt text-bg-dark">iPhone 15 充電慢？如何使用 USB-C 為 iPhone 快速充電</div>
    <!--article-->
    <img src="~/Images/S08/3C_2/p01.jpg" class="ii"><br />

    <div class="pp">
        今年iPhone 15和iPhone 15 Pro的充電情況已經改變了。Apple 專有的 Lightning 連接埠已被 USB-C 取代，因此現在可以使用幾乎任何可以在網路上或販售通路上找到的USB-C 線和USB-C 電源充電器為手機充電。但你到底需要什麼才能確保你的 iPhone使用快充充電呢？
    </div>

    <div class="pp">
        由於 USB-C 是開放標準，因此你幾乎可以使用任何能找到的 USB-C 連接線。iPhone 15 的包裝盒中附帶了一條精美的編織線，你也可以使用任何能找到的 USB-C 線，包括那些以「Android」電話使用的線材。但是，如果你的 iPhone 充電速度很慢，你可能需要更換電源轉接器。
    </div>

    <img src="~/Images/S08/3C_2/p02.jpg" class="ii"><br />

    <div class="bb text-xxl-center">快充 iPhone 15</div>

    <div class="pp">
        要為 iPhone 15 快速充電，需要更高瓦數的充電器。從技術上講，iPhone USB-C 連接埠可以接收高達 27 瓦速度的功率，但實際上，充電速度高於 20 瓦時，會以目前電池容量遞減充電功率瓦數。因此使用 USB-C 線和Apple 20 W USB-C 電源轉接器，你可以在大約 30 分鐘內將 iPhone 15 從零充電到 50%，在 2 小時內從零充電到 100%。
    </div>

    <img src="~/Images/S08/3C_2/p03.jpg" class="ii"><br />

    <div class="pp">
        但是，不僅限於使用 Apple 配件。市面上有許多比 Apple 轉接器更方便的高瓦數 USB-C 充電器選擇，例如Anker 47W USB C 充電器(Nano 3)。使用額定功率高於 20 瓦的充電器也是完全安全的；它們會自動以 iPhone 支援的最高速度為手機充電。
    </div>

    <div class="pp">
        這意味著如果你有 USB-C MacBook 充電器，你也可以使用它並為你的手機全速充電。如果你的 MacBook 本身已插入電源並充電，你甚至可以將手機連接到筆記型電腦的 USB-C 連接埠之一並以接近全速的速度充電。
    </div>

    <div class="pp">
        事實上，USB-C 意味著你現在可以使用相同的電線和 60 瓦（或更高）的 MacBook 充電器為所有Apple 裝置快速充電。
    </div>
</main>

<style>
    /*title*/
    .tt {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 50px;
    }
    /*small-title*/
    .bb {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 40px;
        background-color: #bbbbbb
    }
    /*article*/
    .pp {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        font-size: 30px;
        width: 90%;
    }
    /*picture*/
    .ii {
        width: 75%;
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
</style>