
@{
    ViewBag.Title = "Wi-Fi 6E 和你的 Apple 設備";
}

<main>
    <!--title-->
    <div class="text-xxl-center py-lg-5 tt text-bg-dark">Wi-Fi 6E 和你的 Apple 設備</div>
    <!--article-->
    <img src="~/Images/S08/3C_3/p01.png" class="ii"><br />

    <div class="pp">
        隨著 Apple 的秋季發布，我們看到 Wi-Fi 6E 繼續出現在 Apple 的產品。除了 MacBook Air 之外，所有 Mac 現在都可以選擇 Wi-Fi 6E。在 iPhone 上，iPhone 15 Pro 和 iPhone 15 Pro Max 支援 Wi-Fi 6E。在 iPad 上，僅 iPad Pro 11 吋（第 4 代）或 iPad Pro 12.9 吋（第 6 代）支援 Wi-Fi 6E。我們是否已經到了開始考慮Wi-Fi 6E 部署的時機點了？或是Wi-Fi 7?
    </div>

    <img src="~/Images/S08/3C_3/p02.jpg" class="ii"><br />

    <div class="bb text-xxl-center">Wi-Fi 6E有哪些優勢？</div>

    <div class="pp">
        Wi-Fi 6E 是 Wi-Fi 的一個全新世界。如果你在 Wi-Fi 行業工作了足夠長的時間，你就會知道我們在 2.4 GHz 和 5 GHz 之間進行了一場來回的競爭。5 GHz 更快、更乾淨，但傳輸距離遠不如 2.4 GHz，同時電池壽命也更長。2.4 GHz 是一個擁擠的頻段，它只有 3 個不重疊的頻道。在密集環境中，避免跨通道幹擾具有困難性。我原以為 5 GHz 最終會淘汰 2.4 GHz，但 Wi-Fi 6 技術實際上又帶回了 2.4 GHz。
    </div>

    <div class="pp">
        如果說 Wi-Fi 6 是一條 4 車道，那麼 Wi-Fi 6E 就是一條 8 車道高速公路，只允許特定速度的汽車通行。Wi-Fi 6E 使用 6 GHz 頻段的頻譜，可容納多達 7 個 160 MHz 頻道或 14 個 80 MHz 頻道。這種額外的頻譜極大地增加了 Wi-Fi 設備的可用頻寬，這在擁擠的區域尤其有用。在我看來，Wi-Fi 6E 是多年來對 Wi-Fi 的最大升級。雖然支援 Wi-Fi 6E 的裝置向後相容較舊的 Wi-Fi 技術，但不支援 Wi-Fi 6E 的裝置無法加入 6 GHz 頻段。這就像說有一條只有電動車才能走的新高速公路。人會少很多。所以我們面臨的情況是，有一種相當革命性的新 Wi-Fi 技術，而且它很快就會出現在蘋果的整個平台上。Wi-Fi 6E 技術已經存在多年，但與任何新規範一樣，它需要時間才能應用到裝置上。
    </div>

    <div class="bb text-xxl-center">是時候部署Wi-Fi 6E了嗎？</div>

    <img src="~/Images/S08/3C_3/p03.png" class="ii"><br />

    <div class="pp">
        如果你要為學校或企業辦公室部署一批支援 Wi-Fi 6E 的新 Apple 設備，那麼是的，我認為是時候考慮部署與之相符的 Wi-Fi 6E 了。Wi-Fi 6E 在某些方面“不是本月的熱門話題”，因為 Wi-Fi 7 會高調取代它。但我認為我們還需要幾年時間才能看到它取代 Apple 設備中的 Wi-Fi 6E。蘋果從來都不是第一個部署新 Wi-Fi 標準的公司，因為早期版本通常非常耗電。Wi-Fi 7 在理想環境中確實有一些重大的效能改進，但要看到這些速度的提升還需要做很多工作。
    </div>

    <img src="~/Images/S08/3C_3/p04.jpg" class="ii"><br />

    <div class="pp">
        是的，Wi-Fi 6E 比 Wi-Fi 6 更貴。你可以發現UniFi 6E 存取點與UniFi Wi-Fi 6 存取點之間的定價差異。它更昂貴，但如果你現在部署 6E 相容設備，我認為考慮升級至少部分網路以支援 6E 是有意義的。如果你仍在使用 Wi-Fi 6 裝置（例如MacBook Air），你可能可以堅持使用 Wi-Fi 6，直到你擁有 Wi-Fi 6E 裝置。
    </div>
</main>

<style>
    /*title*/
    .tt {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 50px;
    }
    /*small-title*/
    .bb {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 40px;
        background-color: #bbbbbb
    }
    /*article*/
    .pp {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        font-size: 30px;
        width: 90%;
    }
    /*picture*/
    .ii {
        width: 75%;
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
</style>