@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                今年iPhone 15和iPhone 15 Pro的充電情況已經改變了。Apple 專有的 Lightning 連接埠已被 USB-C 取代，因此現在可以使用幾乎任何可以在網路上或販售通路上找到的USB-C 線和USB-C 電源充電器為手機充電。但你到底需要什麼才能確保你的 iPhone使用快充充電呢？
                <br />
                由於 USB-C 是開放標準，因此你幾乎可以使用任何能找到的 USB-C 連接線。iPhone 15 的包裝盒中附帶了一條精美的編織線，你也可以使用任何能找到的 USB-C 線，包括那些以「Android」電話使用的線材。但是，如果你的 iPhone 充電速度很慢，你可能需要更換電源轉接器。

            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>